# Server
PORT=3000
NODE_ENV=development
BASE_URL=http://localhost:3000
# Deine Haupt-Domain (für Subdomain-Kalender, z.B. "adventskalender.de")
# Kunden bekommen dann: ihr-slug.adventskalender.de
BASE_DOMAIN=localhost
TIMEZONE=Europe/Berlin

# Admin-Login (Schenker "Stibe")
ADMIN_USERNAME=Stibe
ADMIN_PASSWORD=change-me-please

# Sicherheit
JWT_SECRET=change-this-to-a-long-random-string

# E-Mail Versand (SMTP) für Registrierung
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=dein_ethereal_user@ethereal.email
SMTP_PASS=dein_ethereal_pass
SMTP_FROM="Adventskalender" <noreply@adventskalender.local>
